<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Login to Ticket System</h4>
          </div>
          <div class="card-content">
            <form [formGroup]="form">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">UserName</label>
                    <input type="text" class="form-control" formControlName="UserName">
                    <span *ngIf="form.controls['UserName'].errors" class="error-msg">
                      <span *ngIf=" form.controls['UserName'].errors.required">*</span>
                    </span>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Password</label>
                    <input type="password" class="form-control" formControlName="Password">
                    <span *ngIf="form.controls['Password'].errors" class="error-msg">
                      <span *ngIf=" form.controls['Password'].errors.required">*</span>
                    </span>
                  </div>
                </div>

              </div>

              <button type="submit" class="btn btn-danger pull-right" [disabled]="!(form.valid && form.dirty)"
                      (click)="onClickLogin()">
                Login
              </button>

              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
 