<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="red">
                  <h4 class="title">Submit new ticket</h4> 
                </div>
                <div class="card-content">
                  <form    [formGroup]="form"   >
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group form-black label-floating is-empty">
                          <label class="control-label"> Name</label>
                          <input type="text" class="form-control" formControlName="Name">
                          <span *ngIf="form.controls['Name'].errors" class="error-msg">
                            <span  *ngIf=" form.controls['Name'].errors.required">*</span>
                          </span>
                        </div>
                      </div>

                    </div>
                    <div class="row">


                      <div class="col-md-12">
                        <div class="form-group form-black label-floating is-empty">
                          <label class="control-label">Email address</label>
                          <input type="email" class="form-control" formControlName="Email">
                          <span *ngIf="form.controls['Email'].errors" class="error-msg">
                            <span *ngIf=" form.controls['Email'].errors.required">*</span>
                            
                            <span *ngIf=" form.controls['Email'].errors.email">please enter valid email</span>
                          </span>
                         
                        </div>
                      </div>
                    </div> 
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group form-black label-floating is-empty">
                          <label class="control-label">Subject</label>
                          <input type="text" class="form-control" formControlName="Subject">
                          <span *ngIf="form.controls['Subject'].errors" class="error-msg">
                            <span *ngIf=" form.controls['Subject'].errors.required">*</span>
                          </span>
                        </div>
                      </div>

                    </div>
                    <div class="row">
            
                      <div class="col-md-12">
                        <div class="form-group form-black label-floating is-empty">
                          <label class="control-label" class="col-md-3">Type</label>
                          <select name="Type" class="col-md-3" formControlName="Type" [(ngModel)]="Type">
                            <option *ngFor="let item of types" [value]="item">{{item}}</option> 
                          </select>
                          <span *ngIf="form.controls['Type'].errors" class="error-msg">
                            <span  *ngIf=" form.controls['Type'].errors.required">*</span>
                          </span>
                        </div>
                      </div>

                    </div>
                    <div class="row">
            
                      <div class="col-md-12">
                        <div class="form-group form-black label-floating is-empty">
                          <label class="control-label" class="col-md-3">Urgency</label>
                          <select name="Type" class="col-md-3" formControlName="Urgency" [(ngModel)]="Urgency">
                            <option *ngFor="let item of urgencies" [value]="item">{{item}}</option>

                          </select> 
                          <span *ngIf="form.controls['Urgency'].errors" class="error-msg">
                            <span *ngIf=" form.controls['Urgency'].errors.required">*</span>
                          </span>
                        </div>
                      </div>

                    </div> 
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Message</label>
                          <div class="form-group form-black label-floating is-empty">
                            <label class="control-label">Write all desription.</label>
                            <textarea class="form-control" rows="5" formControlName="Message"></textarea>
                            <span *ngIf="form.controls['Message'].errors" class="error-msg">
                              <span *ngIf=" form.controls['Message'].errors.required">*</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-danger pull-right" [disabled]="!(form.valid && form.dirty)"
                            (click)="onClickSend()">Send</button>
                   
                    <div class="clearfix"></div>
                  </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="../assets/img/cto.jpg" />
                    </a>
                </div>

                <div class="content">
                  <h6 class="category text-gray">Co-founder and CTO</h6>
                    <h4 class="card-title">Sebastian Mach </h4>
                    <p class="card-content">
                      byrd is a first mile shipping service that allows customers to ship their products completely hassle free. We pick up the items, package them and ship them with the best carrier for a small service fee. We offer a simple and effective logistic solution for millions of sellers, who are currently wasting resources on the shipping process. No more amateur packaging, post office queuing and random carrier prices.
                    </p>
                    <a href="https://www.linkedin.com/in/sebastianmach/" class="btn btn-danger btn-round">Follow</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
 